<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <div class="add-post" data-toggle="modal" data-target="#exampleModal"></div>
      <a href="#" (click)="sair()" style="margin-left:25px;">Sair</a>
    </div>
  </div>  
</nav>

<br /><br /><br />
<div class="container">
  <!-- #publicacoes é uma variavel de template que será usada para definir a 
    instancia do componente (publicacoes) dentro do componente (home) -->
  <app-publicacoes #publicacoes></app-publicacoes>

  <!-- externaliza o atributo do componente (incluir-publicacao) e chama 
    o metoto atualizarTimeLina do component (home) -->
  <app-incluir-publicacao (atualizarTimeLine)="atualizarTimeLine()"></app-incluir-publicacao>
</div>